<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Beacon Monitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Beacon Device UUID</ion-label>
    <ion-textarea row="3" [autoGrow]="true" [(ngModel)]="uuid" placeholder="Enter a beacon UUID to start monitoring.">
      
    </ion-textarea>
  </ion-item>


  <ion-grid>
    <ion-row>
      <!-- <ion-col size="12">
        <ion-button expand="block" class="margin-auto" color="primary" (click)="scan()">
          <span>Scan</span>
        </ion-button>
      </ion-col> -->
      <!-- <ion-col size="6">
        <ion-button expand="block" class="margin-auto" color="primary" (click)="create()">
          <span>Create Beacon</span>
        </ion-button>
      </ion-col> -->
      <ion-col size="12">
        <ion-button expand="block" class="margin-auto" color="primary" (click)="startMonitoring()">
          <span>Start Monitor</span>
        </ion-button>
      </ion-col>
      <!-- <ion-col size="6">
        <ion-button expand="block" class="margin-auto" color="primary" (click)="stop()">
          <span>Stop</span>
        </ion-button>
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <div class="ion-padding ion-text-center">
    <p *ngFor="let val of statusArr" [ngClass]="{'red': (val == 'CLRegionStateOutside'), 'green': (val == 'CLRegionStateInside')}">
      {{val}}
    </p>
  </div>
</ion-content>
